/* shanti_texts_page_all_texts */



/* VIEWS FILTER BAR */

.view-result-count-info {
  font-family: 'museo-sans-500',Helvetica,Arial,sans-serif;
  font-size: 1em;
}

#view-all-texts-switcher {
  display: inline-block;
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  text-align: center;
}

#view-all-texts-switcher li { 
  display: inline; 
  list-style: none;
  font-size: 1.12em;
  padding: .25em .5em .1em;
  margin: 0 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px gray;
  background-color: white;
}

#view-all-texts-switcher li.on {
  background-color: #EEE5EE;
}

#view-all-texts-switcher span.icon:hover {
  cursor: pointer;
}

.view-all-texts-control-box {
  border-top:0;
  border-color:none;
}

.view-all-texts-control-box-row  {}

.view-all-texts-control-box-cell  {}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


.view-all-texts-control-box-cell-header {
	margin:1rem 0 0 1.5rem;
}

.view-all-texts-control-box-cell-filters  {
	margin:0 auto;
}

.view-all-texts-control-box-cell-switch  {
	margin:0 auto;
	padding-top:1em;
	display:none;
}

.view-all-texts .pagerer{ position:relative; top:0; float:left; margin: 0 0 0 1rem;}

.view-all-texts-control-box-cell-pager  {

	margin:0 auto;
}



/** breakpoints **/

/* (tablets, 768px and up) */
@media (min-width: 768px) {
	
	.view-all-texts .pagerer{ margin-top:0; float:right;}

	
	.view-all-texts-control-box-cell-header {
		width: 100%;
	}

	.view-all-texts-control-box-cell-filters  {
		padding: 0;
		width: 100%;
	}

	.view-all-texts-control-box-cell-switch  {
		margin: 0;
		padding: 2em 0;
		width: 100%;
		display:block;
	}

	.view-all-texts-control-box-cell-pager  {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	

	.view-all-texts-control-box-cell-pager  ul.pager{ font-size: 90%;}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .view-all-texts-control-box-cell-filters .views-exposed-widgets{ margin-top:0;}
  
  .view-all-texts-control-box-cell-filters{ margin-top:0.5rem;}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}

ul.pager {
  width: 100%;
}

.views-widget-filter-title input {
  height: 24px;
}

.shanti-text .content-section {
  padding-top: 0;
}


/* Pagerer */

.view-all-texts .pagerer .ajax-progress{ display:none;}
.view-all-texts .pagerer-pager input {
  height: 2em;
  width: 2em !important;
  font-size:1em;
}


/* Exposed Widgets */

.views-exposed-widget label,
.views-exposed-widget div{
  float:left;
  margin: 0;
  vertical-align: middle;
}






.view-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}
.views-row {            
  float: left;
  width: 100%;
  height: 80px;
  background: white;
  padding: 0 1rem 1rem;
  margin: 0 1.5rem 1rem 0;
  border-top:4px solid #a066c0;
}
/* homepage exception */
.front .views-row {
	width: 100%;
}
.views-field-title h3 {            
  font-size: 1.38em; /* 18px; */
  margin:0.5rem 0 0;
  width:100%;
  float:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  color: inherit;
}

/* icon font on h3 header */
.views-field-title h3 .icon.shanticon-texts { color:#a066c0;margin-right:0.8rem;font-size:2.5rem;position:relative;top:0.4rem;}

.views-field-field-general-featured-image img {            
  display:none;
}
.views-field-field-dc-creator-author-1,
.views-field-field-book-author{            
  font-size: 1em;
  margin-left:3.7rem;
  margin-top:0;
  font-style: italic;
  color: rgb(113, 113, 113);     
  float:left; 
  display:block;
	width:100%;
}
.views-field-field-dc-date-original-year,
.views-field-field-dc-date-publication-year{            
  float:left;
  display:block;
	width:100%;
	color: rgb(113, 113, 113);
	margin:1.2rem 0 0 -0.1rem;
}
.views-field-field-dc-description {            
  font-size: 12px;
  overflow: scroll;
  display:none;
}







/* hide filter input labels */
.views-widget-filter-title label, 
.views-widget-filter-field_book_author_value label{ display:none;}

/* position filtering textboxes side-by-side without labels */
.views-widget-filter-title,
.views-widget-filter-field_book_author_value{ display:inline-block;padding: 0;}

.views-widget-filter-title div,
.views-widget-field_book_author_value div{ margin:0;}

.views-widget-filter-title .form-control.form-text, 
.views-widget-filter-field_book_author_value .form-control.form-text{ max-width:14rem;}

.view-all-texts-control-box-cell-filters .views-exposed-widgets{ margin-top:0.3rem; margin-bottom:0;}
.views-exposed-widget.views-widget-filter-title,
.views-exposed-widget.views-widget-filter-field_book_author_value{ padding: .5em 0 0 0;}

.form-type-textfield.form-item-title{ margin-right:0.7rem;}
.views-exposed-widget.views-widget-filter-title{ margin-top:0;}


@media screen and (min-width: 768px) {

	.views-row {            
	  width: 48%;
	  margin: 0 0.5rem 1rem;
	}
	.front .views-row {
	  width: 48%;
	}

}

@media screen and (min-width: 993px) {
	 .views-row {            
	  width: 32.3%;
	}
}

@media screen and (min-width: 1150px) {
	 .views-row {            
	  width: 24%;
	}
}