/* shanti_texts_page_all_texts */

.view-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}

.views-row {
  float:left;
  width: 100%;
  background:white;
  margin-bottom: 20px;
  padding-right: 20px;
}

.views-field-title h3 i {
  margin-right: 10px;
}

.views-field-field-general-featured-image img {
  float:left;
  margin-right: 25px;
}

.book-view-card-title {}

.views-field-field-dc-creator-author-1,
.views-field-field-book-author
{
  font-size: 16px;
  font-style: italic;
  color: gray;
}

.views-field-field-dc-description {
  font-size: 14px;
}


/* VIEWS FILTER BAR */

.view-result-count-info {
  font-family: 'museo-sans-500',Helvetica,Arial,sans-serif;
  font-size: 1em;
}

#view-all-texts-switcher {
  display: inline-block;
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  text-align: center;
}

#view-all-texts-switcher li { 
  display: inline; 
  list-style: none;
  font-size: 1.12em;
  padding: .25em .5em .1em;
  margin: 0 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px gray;
  background-color: white;
}

#view-all-texts-switcher li.on {
  background-color: #EEE5EE;
}

#view-all-texts-switcher span.icon:hover {
  cursor: pointer;
}

.view-all-texts-control-box {
  border-top:0;
  border-color:none;
}

.view-all-texts-control-box-row  {}

.view-all-texts-control-box-cell  {}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


.view-all-texts-control-box-cell-header {
	width: 75%;
	margin:0 auto;
	padding-top:1em;
}

.view-all-texts-control-box-cell-filters  {
	width: 75%;
	margin:0 auto;
}

.view-all-texts-control-box-cell-switch  {
	width: 75%;
	margin:0 auto;
	padding-top:1em;
	display:none;
}

.view-all-texts-control-box-cell-pager  {
	width: 75%;
	margin:0 auto;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.view-all-texts-control-box-cell-header {
		margin: 0;
		padding: 2em 0;
		width: 100%;
	}

	.view-all-texts-control-box-cell-filters  {
		margin: 0;
		padding: 1em 0;
		width: 100%;
	}

	.view-all-texts-control-box-cell-switch  {
		margin: 0;
		padding: 2em 0;
		width: 100%;
		display:block;
	}

	.view-all-texts-control-box-cell-pager  {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.view-all-texts-control-box-cell-pager  ul.pager {
		font-size: 90%;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}

ul.pager {
  width: 100%;
}

.views-widget-filter-title input {
  height: 24px;
}

.shanti-text .content-section {
  padding-top: 0;
}

#edit-title-wrapper label, 
#edit-field-book-author-value-wrapper label
{
  font-size: 14px;
  width: 60px;
}

/* Pagerer */

.view-all-texts .pagerer{ margin-top:1.2rem;}
.view-all-texts .pagerer .ajax-progress{ display:none;}
.view-all-texts .pagerer-pager input {
  height: 2em;
  width: 2em!important;
  font-size:1em;
}


/* Exposed Widgets */

.view-all-texts-control-box-cell-filters .views-exposed-widgets{ margin-top:0.3rem; margin-bottom:0;}
.views-exposed-widget views-widget-filter-field_book_author_value{ padding: .5em 0 0 0;}

.form-type-textfield.form-item-title{ margin-right:0.7rem;}

.views-exposed-widget label,
.views-exposed-widget div{
  float:left;
  margin: 0;
  vertical-align: middle;
}

/* FAT LIST */

.view-all-texts-fat-list .views-row {  
  float: left;
  width: 100%;
  background: white;
  margin: 0 0 20px;
}
.view-all-texts-fat-list .views-field-title h3 {            
  font-size: 1.63em;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.view-all-texts-fat-list .views-field-field-general-featured-image img {            
  float: left;
  margin-right: 20px;
  height: 110px;
  width: 110px;
}
.view-all-texts-fat-list .views-field-field-dc-creator-author-1,
.view-all-texts-fat-list .views-field-field-book-author{            
  font-size: 16px;
  font-style: italic;
  color: gray;        
}
.view-all-texts-fat-list .views-field-field-dc-description {            
  font-size: 14px;
  overflow: scroll;
}

/* THIN LIST */

.view-all-texts-thin-list .views-row {            
  float: left;
  width: 48%;
  height: 90px;
  background: white;
  padding-right: 20px;
  padding-left:10px;
  margin: 0 0 10px;
}
.view-all-texts-thin-list .views-row.views-row-odd{ margin-right:1rem;}
.view-all-texts-thin-list .views-field-title h3 {            
  font-size: 1.38em; /* 18px; */
  margin:1rem 0 0;
  width:100%;
  float:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.view-all-texts-thin-list .views-field-field-general-featured-image img {            
  display:none;
}
.view-all-texts-thin-list .views-field-field-dc-creator-author-1,
.view-all-texts-thin-list .views-field-field-book-author{            
  font-size: 1em;
  margin-left:3.5rem;
  font-style: italic;
  color: gray;     
  float:left;
  margin-top:0.3rem;
  display:block;
	width:100%;
}
.view-all-texts-thin-list .views-field-field-dc-date-original-year,
.view-all-texts-thin-list .views-field-field-dc-date-publication-year{            
  float:left;
  margin-top:0.3rem;
  margin-left:3.5rem;
  display:block;
	width:100%;
	color:grey;
}
.view-all-texts-thin-list .views-field-field-dc-description {            
  font-size: 12px;
  overflow: scroll;
  display:none;
}

/* GRID */

.view-all-texts-grid .views-row {            
  width: 48%;
  height: 110px;
  float: left;
  overflow: hidden;
  margin: 10px;
}
.view-all-texts-grid .views-field-title h3 {            
  font-size: 1.63em; /* 20px; */
  margin-bottom: 5px;
  margin-top: 10px;
}
.view-all-texts-grid .views-field-field-general-featured-image img {             
  height: 110px;    
  width: 110px;
  margin-right: 10px;
}
.view-all-texts-grid .views-field-field-dc-creator-author-1,
.view-all-texts-grid .views-field-field-book-author
{            
  font-size: 16px;
  font-style: italic;
  color: gray;        
}
.view-all-texts-grid .views-field-field-dc-description {            
  font-size: 12px;
}

/* Added to fix problem of blanks caused by changes in shanti-main.css */
.view-all-texts  .views-field.views-field-title {
  width:100%;
}


/* position filtering textboxes side-by-side without labels */
.views-widget-filter-title,
.views-widget-filter-field_book_author_value{ display:inline-block;padding: 0;}
.views-widget-filter-title label, 
.views-widget-filter-field_book_author_value label{ display:none;}

.views-widget-filter-title div,
.views-widget-field_book_author_value div{ margin:0;}

.views-widget-filter-title .form-control.form-text, 
.views-widget-filter-field_book_author_value .form-control.form-text{ max-width:16rem;}







