/* SHANTI Texts Styles */

/*
body.shanti-text nav.breadwrap ol li i.icon.shanticon-arrow3-right {
  background-color: #764B8D!important;
}
*/

.pagerer-pager {
  font-size: 130%;
}

.pagerer-pager input {
  height: 2em;
  width: 2em!important;
}

.views-exposed-widget {
  _display:inline-block;
}

.views-exposed-widget label,
.views-exposed-widget div
{
  float:left;
  margin: 0 1em 0 0;
  vertical-align: middle;
  _display:inline;
}


/* This is here just because the base theme has scoped things to .field-item */
/*
.field-item .popover-link{ 
  background: #5a65d1;
  border: none;
  height: 0.93em;
  width: 1.06em;
  color: white;
  padding: 0;
  border-radius: 2px;
  display:inline-block;
  position:relative;
  top:0.32em;
  left:0.44em;
  margin-right:15px;
}
.field-item .popover-link span{
  font-family:'shanticon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color:#5a65d1;
  font-size:0.68em;
  position:relative;
  top:-0.68em;
  left:-0.68em;
}
.field-item .popover-link span:before{ 
  left: 0;
  top: 0.12em;
  content: '\e644';
  position: relative;
}
.field-item .popover-link .shanticon-menu3{ color:white; font-size:1.06em; position:relative; top:0.32em; left:-1px;}

.field-item .popover{ border:none;padding:0;}
*/
/*---- popover content area ----*/
/*
.field-item .popover-content h5{ font-size:1.06em; text-transform:capitalize; font-weight:bold; margin:0; padding:0; line-height:2.5em; border-bottom:1px solid #ccc;}
.field-item .popover-content p{ font-size: 0.88em; margin-top: 10px; color: #333;}

.field-item .popover-content .parents strong{ color: #454fa4; font-size:0.75em; margin-top:-0.25em; display:inline; float:left; font-weight:bold;  font-family:'museo-sans-700',Helvetica,Arial,sans-serif;}
.field-item .popover-content .parents strong:after{ content:':'; margin-right:1px;}

.field-item .popover-content .parents ul{ display:inline;list-style:none;margin:0;padding:0;}
.field-item .popover-content .parents ul li{ font-size:0.75em; line-height:1.18em; float:left; display:inline;padding:0;padding:0;margin:0;white-space:pre-line;}
.field-item .popover-content .parents ul li a{ border-bottom-width:1px; font-size:1em; float:left; display:inline;margin:0;padding:0 1px;white-space:pre-line;}
.field-item .popover-content .parents ul li a:hover{}

.field-item .popover-content .popover-footer{ float:left; margin:5px -15px 0; width:277px; max-width:277px;}
.field-item .popover-content .popover-footer ul{ list-style-type:none; margin:10px 0 0; padding:0;}
.field-item .popover-content .popover-footer ul li{  background:#505050; border-bottom:1px solid #404040; font-size:0.88em; line-height:3.32em; height:3.25em; padding:0 0 0 15px; margin:0; font-family:'museo-sans-700',Helvetica,Arial,sans-serif;}
.field-item .popover-content .popover-footer ul li a{ color:#ddd; border-bottom:none;display:inline-block;}
*/

/* KEEP DEL
.field-item .popover-content .popover-footer ul li a:hover{ color:#eee;}
.field-item .popover-content .popover-footer ul li a:active{ color:#fff;}
*/

/*
.field-item .popover-content .popover-footer ul li .icon{ color:#eee;margin-right:5px;}
.field-item .popover-content .popover-footer ul li:hover .icon{ color:#fff;}
.field-item .popover-content .popover-footer ul li:last-child{ border-radius:0 0 4px 4px; border-bottom:none;}
.field-item .popover-content .popover-footer ul li:hover{ background:#404040;}
.field-item .popover-content .popover-footer ul li:hover a{ color:#eee;}
.field-item .popover-content .popover-footer ul li:active a{ color:#fff;}

.field-type-shanti-kmaps-fields-default {
  display:inline-block;
}
.field-type-shanti-kmaps-fields-default .field-label,
.field-type-shanti-kmaps-fields-default .field-items {
  
}
.field-item {
  display:inline;
}
*/

