/* custom theme colors */
.basebg,
.titlearea,
.carousel-control,
.breadwrap .icon,
.nav-justified>li.active a,
.nav-justified>li.active a:hover,
.nav-justified>li.active a:focus{ background:#764B8D; }
.basecolor{ color: #764B8D; }   
.nav-justified > li.active > a:after { border-color: #764B8D; border-top-color: #764B8D; }
.nav-justified > li.active::before{ color:transparent; } 
/* banner header anchor hover */
.navbar-brand:hover .site-slogan{ color:#5f3c71;}

/* .shanticon-twitter,.shanticon-facebook,.shanticon-email,.shanticon-google{ color:#764B8D; } */
/* .view-mega-search h3 {
  display:none;
  font-size: 100%;
  font-weight: bold;
  margin-left: 1em;
}
.view-mega-search ul{ list-style-type: none;}
*/

.shanti-text .content-section{ padding-top: 0;}

.mega-search-title.depth-1 {
  margin-left:.5em;
  font-size:110%;
  border-top:1px solid gray;
  margin-top:.25em;
  padding-top:.25em;
}
.mega-search-title.depth-2 {
  margin-left:1.5em;
}
.mega-search-title.depth-3 {
  margin-left:2em;
}
.mega-search-title.depth-4 {
  margin-left:2.5em;
}
.mega-search-title.depth-5 {
  margin-left:3em;
}
.mega-search-title.depth-6  {
  margin-left:3.5em;
}
.mega-search-title.depth-7  {
  margin-left:3.5em;
}
.mega-search-title.depth-1.weight-0 {
  display:none;
}
.view-text-search h3, .view-solr-texts h3, .view-full-text-local h3 {
  font-weight:bold;
  font-size:100%;
  margin: .5em 0 0 1em;
  border-top:1px solid lightgray;
  padding-top:.5em;
}
.view-text-search p, .view-solr-texts p, .view-full-text-local p {
  margin: .5em 0 0 1em;
}

.view-all-texts-control-box .views-submit-button {
  display:none;
}

#autocomplete {
  background-color:lightgray;
  font-family:'museo-sans-500',helvetica,arial,sans-serif;
  padding:4px;
}

input.form-autocomplete {}


/* BEGIN carousel WIDTH - box-model layout theme properties */
.carouseldiv + div{ margin:0 auto; max-width:1050px;} /* layout content below carousel */

/* carousel content centering layout box-model */
.carousel-header,
.carousel-inner,
.carousel-inner > .item,
.front-overview{ max-width:1050px; margin:0 auto !important;}
.front-overview{ margin:2rem auto 1.5rem !important;}
.front-overview p{ padding:0 2.5rem;}

/* END carousel */





/* -------------------------------------------*/
/* begin migration from shanti_texts_page_all_texts */

/* VIEWS FILTER BAR */

.view-all-texts-control-box{ border-top:0;border-color:none;}

.view-all-texts-control-box-cell-header{ margin: 0.8rem 0 0 0; padding:0 0 0 2.5rem;font-size:0.93em;width:54%;max-width:54%;}
.view-result-count-info{ font-family: 'museo-sans-500',Helvetica,Arial,sans-serif;font-size:0.93em;}
.view-all-texts-control-box-cell-filters{ margin:0 auto;}
.view-all-texts-control-box-cell-pager{ padding:0 2rem; margin:0; width:auto; height:5rem; position:relative; top:0; float:left;}
.view-all-texts table.pagerer{ margin:0 1rem; position:relative; top: 0.2rem;}

/* Pagerer */
.view-all-texts .pagerer .ajax-progress{ display:none;}
.view-all-texts .pagerer-pager input{ height: 1.5em;width: 2em;font-size:1em;}


/* Exposed Widgets */
.views-exposed-widget label,
.views-exposed-widget div{ float:left;margin: 0;vertical-align: middle;}

.view-content{ margin-left: auto;margin-right: auto;width: 100%;}

.views-row {            
  float: left;
  width: 100% !important;
  height: 70px;
  background: white;
  padding: 0 1rem 1.2rem;
  margin: 0 1.5rem 1rem 0;
  border-top:4px solid #a066c0;
}

.front .views-row{ width: 100%;} /* homepage exception, leverage front body tag class */

.views-field-title h3{            
  font-size: 1.38em; /* 18px; */
  margin: 0.5rem 0 0;
  width: 100%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}

/* shanticon font on h3 header */
.views-field-title h3 .icon{ color:#a066c0;margin-right:1.12rem;font-size:2.5rem;position:relative;top:0.3rem;left:0.3rem;opacity:0.7;}
.views-field-title a:hover .icon{ opacity:1.0;}
.views-field-title a:active .icon{ opacity:0.7;}

.views-field-field-general-featured-image img{ display:none;}
.views-field-field-dc-creator-author-1,
.views-field-field-book-author{            
  font-size: 1em;
  margin-left:4rem;
  margin-top:0.8rem;
  font-style: italic;
  color: #aaa;     
  float:left; 
  display:block;
	width:100%;
	height:1.38em;
}
.views-field-field-book-author::before{ content:' - ';}

.views-field-field-dc-date-original-year,
.views-field-field-dc-date-publication-year{            
  float:left;
  display:block;
	width:100%;
	color: #777;
	margin:0 0 0 -0.1rem;
	position:relative;
	top:-1.8rem;
	left:0.2rem;
}
.views-field-field-dc-description {            
  font-size: 12px;
  overflow: scroll;
  display:none;
}



/* hide filter input labels */
.views-widget-filter-title label, 
.views-widget-filter-field_book_author_value label{ display:none;}

/* position filtering textboxes side-by-side without labels */
.views-widget-filter-title,
.views-widget-filter-field_book_author_value{ display:inline-block;padding: 0;}

.views-widget-filter-title div,
.views-widget-field_book_author_value div{ margin:0;}

.views-widget-filter-title .form-control.form-text, 
.views-widget-filter-field_book_author_value .form-control.form-text{ max-width:14rem;}

.view-all-texts-control-box-cell-filters .views-exposed-widgets{ margin-top:0.3rem; margin-bottom:0;}
.views-exposed-widget.views-widget-filter-title,
.views-exposed-widget.views-widget-filter-field_book_author_value{ padding: .5em 0 0 0;}

.form-type-textfield.form-item-title{ margin-right:0.7rem;}
.views-exposed-widget.views-widget-filter-title{ margin-top:0;}




/*----------------*/
/** breakpoints **/
/*----------------*/
@media (max-width: 599px) {
	
	.view-all-texts-control-box-cell-filters.col-xs-6,
	.view-all-texts-control-box-cell-header.col-xs-5{ width:100% !important;}
}





/* begin min-width */

@media (min-width: 600px) {
	
	.view-all-texts table.pagerer,
	.view-all-texts-control-box-cell-pager.col-xs-12{ float:right;}
}	


@media (min-width: 768px) {
	
	.views-row{ width: 48% !important; margin: 0 0.5rem 1rem;}
	.front .views-row{ width: 48% !important;}	
	.front .views-field-title h3{ font-size:1.32em;}
	
	.view-all-texts-control-box-cell-header.col-xs-5{ width:28% !important;max-width:28% !important;padding-top:0.7rem;}
	.view-all-texts-control-box-cell-filters{ padding: 0; width:37%;max-width:37%;}

	.view-all-texts table.pagerer,
	.view-all-texts-control-box-cell-pager.col-xs-12{ margin: 0; width:auto !important;}
	
	.nav-justified > li.active::before{ color: #764B8D;} /* give arrow color, show it when tabs are not stacked */
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	.views-row{ width: 31.75% !important;} 
	.front .views-row{ width: 48% !important;}
	   
  .view-all-texts-control-box-cell-filters .views-exposed-widgets{ margin-top:0;}  
  .view-all-texts-control-box-cell-filters{ margin-top:0.5rem;}
  
  .view-all-texts-control-box-cell-header{ font-size:1em;}
}


@media screen and (min-width: 1150px) {
	 
	 .views-row{ width: 24% !important;}
	 .front .views-row{ width: 48% !important;}
}










