#shanti-text-main-view .content {
  max-width: 960px;
}

.view-content {
  max-width: 100%!important;
  margin: 0 auto;
}

.view-mode1 .book-view-card {
  width: 260px;
  height: 300px;
  float: left;
  background-color: white;
  vertical-align: top;
  box-shadow: 5px 5px 20px gray;
  margin: 0 1em 1em 0;
  padding: 10px;
  border-radius: 5px;
}

.view-mode1 .book-view-card {
  width: 260px;
  height: 300px;
  float: left;
  background-color: white;
  vertical-align: top;
  box-shadow: 5px 5px 20px gray;
  margin: 0 1em 1em 0;
  padding: 10px;
  border-radius: 5px;
}

.view-mode1 .book-view-card-title {
  font-size: 14pt;
  font-family: "museo-sans-500", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding: .5em 0 .5em 0;
}

.view-mode1 .book-view-card-desc {
  font-size: 10pt;
  font-family: "museo-sans-500", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding: 0 0 .5em 0;
  overflow: none;
}